[submodule "vendor/libretro-common"]
	path = vendor/libretro-common
	url = https://github.com/libretro/libretro-common.git
    ignore = dirty
    branch = master
[submodule "vendor/libretro-core-info"]
	path = vendor/libretro-core-info
	url = https://github.com/libretro/libretro-core-info.git
    ignore = dirty
    branch = master
[submodule "vendor/nuklear_console"]
	path = vendor/nuklear_console
	url = https://github.com/RobLoach/nuklear_console.git
